<title>Encryptzz</title>
<link href="/indexcss" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<div id="nav-placeholder">
</div>
<div class="container">
	<div class="card p-4" style="margin-top: 5%;">
		<div class="row">
			<div class="col s5 mb-2">
				<label>
					<input name="hmmm" type="radio" value="encrypt" checked />
					<span>Encrypt</span>
				</label>
			</div>
			<div class="col s5 mb-2">
				<label>
					<input name="hmmm" type="radio" value="decrypt" />
					<span>Decrypt</span>
				</label>
			</div>
			<div class="col s2 right">
				<button id="encbtn" class="btn waves-effect waves-light" type="submit" name="action"
					onclick="letsencrypt()">Encrypt </button>
			</div>
			<div class="row">
				<div class="input-field col s12 textarea-div">
					<textarea id="textarea1" class="materialize-textarea"></textarea>
					<label for="textarea1" id="textarea-label">Enter text to Encrypt</label>
				</div>
			</div>
		</div>
		<div class="row">
			<label>Algorithm</label>
			<select id="options" class="browser-default s12">
				<option value="0" selected>AES</option>
				<option value="1">DES</option>
				<option value="2">Triple DES</option>
				<option value="3">Rabbit</option>
				<option value="4">RC4</option>
			</select>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="key" type="text">
				<label for="key">Enter a key</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s9">
				<input id="answer" type="text">
				<label class="text" style="color:gray;padding:0%;margin:0%;">Solution</label>
			</div>
			<div class="col s3 btn right" onclick="copyToClipBoard()">Copy to Clipboard</div>
		</div>
	</div>
</div>
<script>
	let encrypt = true;
	let text = "";
	let key = "";
	let option = "0";
	$(function () {
		$("#nav-placeholder").load("/navbar");
	});
	$('input[type=radio][name=hmmm]').change(function () {
		if (this.value == 'encrypt') {
			$("#encbtn").html("Encrypt");
			$(".textarea-div").html("");
			$(".textarea-div").html(
				'<textarea id="textarea1" class="materialize-textarea"></textarea><label for="textarea1" id="textarea-label">Enter text to Encrypt</label>'
				);
			encrypt = true;
		} else if (this.value == 'decrypt') {
			$("#encbtn").html("Decrypt");
			$(".textarea-div").html("");
			$(".textarea-div").html(
				'<textarea id="textarea1" class="materialize-textarea"></textarea><label for="textarea1" id="textarea-label">Enter text to Decrypt</label>'
				);
			encrypt = false;
		}
	});

	function letsencrypt() {
		console.log(encrypt);
		let optionss = $('#options').val();
		let textt = encodeURIComponent($('#textarea1').val());
		let keyy = $('#key').val();
		const url = "?algo=" + optionss + "&text=" + textt + "&key=" + keyy;
		console.log(url);
		if (encrypt) {
			$.get("/enc" + url, function (data, status) {
				var x = data.toString();
				console.log(x);
				$('#answer').val(x);
				console.log(x);
			})
		} else {
			$.get("/dec" + url, function (data, status) {
				var x = data.toString();
				console.log(x);
				$('#answer').val(x);
				console.log(x);
			})
		}
		$('#answer').select();
	}

	function copyToClipBoard() {
		var copyText = document.getElementById("answer");
		copyText.select();
		document.execCommand("copy");
	}

</script>
