<title>Encyptzz - RSA</title>
<link href="/indexcss" rel="stylesheet">
<link href="/rsacss" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
</script>
<div id="nav-placeholder">
</div>
<div class="container">
	<div class="card p-4" style="margin-top: 5%;height:70%;">
		<div class="chipss">
		</div>
		<div class="row mt-2">
			<div class="col s6 left" id="private-key"></div>
			<div class="col s6 right" id="public-key"></div>
		</div>
	</div>
	<script>
		function main() {
			$("#nav-placeholder").load("/navbar");
			$.get("/getusers", function (data, status) {
				console.log(typeof data);
				//let x = JSON.parse(data);
				//console.log(typeof JSON.parse(data));
				Object.keys(data).forEach((item, index) => {
					classs = "'btn m-2'";
					$(".chipss").append("<div class= " + classs + " id=chip-" + index +
						" onclick='changeChip(this)' style='margin-left:2%;'>" + item + "</div>");
				});
				$(".chipss").append(
					"<div class='btn m-2 right' onclick='adduser()' style='margin-left:2%;'> + Add User</div>");
				//console.log(x);
				changeChip($('#chip-0'));
			});
			//console.log($('#chip-0'));
		}
		main();
		$(window).load(function () {
			//console.log($('#chip-0'));
		});

		function changeChip(divv) {
			$('.active-chip').removeClass("active-chip");
			var w = $('#' + divv.id.toString());
			console.log(w);
			w.addClass('active-chip');
			getuserdata(divv.innerHTML);
		}

		function adduser() {
			var name = window.prompt("Enter a name");
			$.get("/genrsa?name=" + name.toString(), function (data, status) {
				window.location.reload();
			});
		}

		function getuserdata(name) {
			console.log(name);
			$.get("/getuserdata?name=" + name.toString(), function (data, status) {
				// idhar json laake bas display kardena
				//console.log($("#private-key"));
				$("#private-key").html(
					"<div class='collapsible row'><div class='col s7 btn white center' style='color:black;'> Private Key</div><div class='col s5 btn right' style='height:35px' onclick='copyToClipBoardPrivate()'> Copy to ClipBoard</div><textarea id='private-text' style='height:250px;resize:none;'>" +
					data['private'] + "</textarea></div>");
				$("#public-key").html(
					"<div class='collapsible row'><div class='col s7 btn white center' style='color:black;'> Public Key</div><div class='col s5 btn right' style='height:35px' onclick='copyToClipBoardPublic()'> Copy to ClipBoard</div><textarea id='public-text' style='height:250px;resize:none;'>" +
					data['public'] + "</textarea></div>");
			});
		}

		function copyToClipBoardPrivate() {
			copyToClipBoard("private-text");
		}

		function copyToClipBoardPublic() {
			copyToClipBoard("public-text");
		}

		function copyToClipBoard(id) {
			var copyText = document.getElementById(id);
			copyText.select();
			console.log(copyText);
			document.execCommand("copy");
		}

	</script>
